body {
    background-color:#444f6f;
    color:#a8b4cc;
}
margin:0 auto;
.container {
    text-align: center;
}

.header {
    margin:20px;
}
.header h1 {
    background-image:url("../imgs/logo.png");
    text-indent: -9999px;
    width:200px;
    height:70px;
    margin:0 auto;
}

.header #infoHeader {
    clear:both;
    margin:0 auto;
    text-align: center;
}

.header #tempoAdm {
    float:left;
    margin:10px;
}

.header #nomeCidade {
    float:left;
    font-size:2em;
    margin:10px;
}

.header #tempoRest {
    float:left;
    margin:10px;
}

.header #busca {
    text-align: center;
    float:left;
    margin-top:20px;
}

.header #busca input {
    width:340px;
    height:20px;
}

.header #prefeito {
    margin:0 auto;
    width:300px;
}
.header #prefeito span {
    color:#fff;
    display:block;
}

.header #prefeito a {
    color:#fff;
}

.header #downloadMetas {
    color:#fff;
    float:right;
    width:175px;
    margin-top:-50px;
    margin-right:75px;
    font-size:0.8em;
    text-align:left;
}

.header #downloadMetas a {
    color:#fff;
}

.header #metaCounter {
    width:800px;
    margin:0 auto;
    border:1px solid white;
    clear:both;
}

.header #metasRealizadas {
    height:20px;
    background-color:#8dd782;
    float:left;
    color:#2e9550;
}

.header #metasPendentes {
    height:20px;
    background-color:#e11315;
    color:#fff;
    float:left;
    text-align: right;
}

#paginador {
    clear:both;
    text-align: center;
    margin:10px;
}

#paginador a {
    color:#6A7998;
}
#metas {
    text-align: left;
    height:480px;
    overflow:hidden;
}

.meta {
    line-height:1.5em;
    width:180px;
    float:left;
    height:480px;
    overflow:hidden;
}
.meta:nth-child(5n+5) { 
    background-color:#6abfba; 
}
.meta:nth-child(5n+4) { 
    background-color:#417d85; 
}
.meta:nth-child(5n+3) { 
    background-color:#c65454; 
}
.meta:nth-child(5n+2) { 
    background-color:#f2911c; 
}
.meta:nth-child(5n+1) { 
    background-color:#f2cb04; 
}

.meta .adote {
    color:#fff;
    height:70px;
    font-size:0.8em;
    padding:5px;
    text-align: center;
}

.meta .adote .metaNumero {
    margin-left:5px;
    font-size:4em;
}

.meta .status.pendente {
    height: 20px;
    background-color:#ff0000;
    text-align: center;
}

.meta .descricao {
    padding:10px;
    font-size: 0.9em;
    color:#000000;
    font-weight:normal;
    line-height:1.2em;
    width: 80%;
}

.meta .avaliacao {
    margin:15px;
    width:80%;
    border:1px solid #ffffff;
    height:10px;
    font-size:10px;
}

.meta .avaliacao .realizada {
    background-color:#ffffff;
    height:10px;
}

.meta .enviar {
    text-align: center;
    margin:15px;
}

.meta .comment {
    padding:10px;
    background-color:#ffffff;
    opacity:0.4;
}

.meta .comment a {
    font-size:1.2em;
    border-bottom:2px dotted #2C6C77;
    margin:10px;
    opacity:1;
    display:block;
    clear:both;
    font-color:#2C6C77;
}
.meta .checkbox {
    width: 20%;
    float:right;
}

.meta .comment {
    font-size:14px;
    font-weight:bold;
}

/* Put your styles here */